body{ background-image: url("../Images/FINAL.jpg");
      background-repeat: no-repeat;
      background-size: cover;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: honeydew;
    text-align: left;
    border: 8px solid black;
    border-left: chocolate;
    padding: 8px;
    height: 150px;
    width: 70%;
    background-color: rgb(29, 35, 66);
    
}

img{ float: right;
     height: 230px;
     border: double;
     width: 350px;   

}
h2{
    font-size: medium;
    color: honeydew;
    font-family: 'Times New Roman', Times, serif;
    border: 8px black(201, 243, 87);
    padding: 10px;
    width: 120%;
    background-image: "Image/Eagle.jpg";
}

h3{
    font-size: medium;
    color: white;
    border: 8px black;
    padding: 10px;
    width: 120%;


}
a{
    color: rgb(10, 13, 14);
    border: black;
    background-color: rgb(184, 164, 52);
}
h4{
    font-size: x-large;
    color: rgb(17, 15, 6);
    border: 10px darkcyan;
    padding: 15px;
    background-color: rgb(129, 86, 6);

}