h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: honeydew;
    text-align: left;
    border: 8px solid black;
    border-left: chocolate;
    padding: 8px;
    background-color: rgb(29, 34, 66);
    height: 150px;
    width: 100%;
    
}
img{ float: right;
     height: 230px;
     border: double;
     

}
h2{
    font-size: x-large;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    border: 8px black(201, 243, 87);
    padding: 10px;
    background-color: rgb(112, 82, 82);
}
h3{font-size: x-large;
    color: black;
    border: 8px black;
    padding: 10px;
    background-color: (rgb112, 82, 82);

}